body {
	background-color: #0051FF;
}

h1 {
	color: #FF0000;
}


.post {
	border-radius: 10px;
	background-color: #E32727;
	text-align: center;
	padding: 20px;
}

#banner {
	width: 100%;
	position: absolute;
	top: 0; 
	left:0;
	background-color:  #FFFB00;
}

#post1 {
	margin-top: 100px;
}

#text {
	text-align: center;
}
